* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(4, 4, 53);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
margin-top: 50px;
width: 40%;
height: 40vh;
background-color: #b6b3b3;
text-align: center;
}

.container .header {
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    margin: 20px auto;
}

.container .zero{
    font-size: 75px;
    font-weight: 900;
    text-align: center;
    margin-top: auto;
}

button.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 30px; */
    /* width: 50%; */
    /* margin: 30px auto; */
}
button {
    width: 30%;
    text-transform: uppercase;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border: none;
    font-size: larger;
    font-weight: 700;
    margin-top: 15px;
}
.button-container .increase {
    color: #2C9C05;

}

.button-container .reset {
    color: #0E1FB2;
}
.button-container .decrease {
    color: #FD2315;
}
/* MEDIA QUERY */
@media screen and (max-width: 600px) {
 .container .header {
     font-size: 30px;
     font-weight: 700;
     text-transform: uppercase;
     text-align: center;
     
 }
 .container {
     margin-top: 50px;
     width: 80%;
     height: 40vh;
     background-color: #b6b3b3;
     text-align: center;
 }

 .container .zero {
     display: block;
     font-size: 65px;
     font-weight: 900;
     text-align: center;
     margin-top: auto;
 }

 button .button-container {
     display: block;
     float: none;
     justify-content: space-around;
     align-items: center;
     text-align: center;
}
button {
    width: 80%;
    text-transform: uppercase;
    padding: 5px;
    margin-bottom: 15px;
    text-align: center;
    border: none;
    font-size: 20px;
    font-weight: 700;
    /* margin-top: 15px; */
}
}